/* CSS Document */

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  font-family: 'YakuHanJP','Noto Sans JP',sans-serif;
  font-size: 15px;
  line-height: 1.8;
  letter-spacing: .8px;
  word-break: break-all;
  color: #333;
}

a {
  text-decoration: none;
  color: #1ca9e3;
}

img,
video,
object {
  display: block;
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
  border: none;
}

ul,
li {
  list-style: none;
}

.text-bold {
  font-weight: bold;
}

.pc {
  display: block;
}

.sp {
  display: none;
}

.hover-action {
  display: block;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -ms-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
  -webkit-box-shadow: 0 2px 10px 0 rgba(0, 0, 0, .1);
  -moz-box-shadow: 0 2px 10px 0 rgba(0, 0, 0, .1);
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, .1);
}

.hover-action:hover {
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -ms-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
  -webkit-transform: translate(0, -4px);
  -moz-transform: translate(0, -4px);
  -ms-transform: translate(0, -4px);
  -o-transform: translate(0, -4px);
  transform: translate(0, -4px);
  -webkit-box-shadow: 0 10px 20px 0 rgba(0, 0, 0, .12);
  -moz-box-shadow: 0 10px 20px 0 rgba(0, 0, 0, .12);
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, .12);
}

/*--------------------------------
 全体
---------------------------------*/
#wrapper {
  padding-top: 68px;
}

.section {
  padding: 100px 0;
}

.section:nth-of-type(odd) {
  background-color: #f7f7f7;
}

.section .inner {
  max-width: 1380px;
  margin: 0 auto;
  padding: 0 40px;
}

.section-title {
  font-family: 'Montserrat';
  font-size: 40px;
  font-weight: normal;
  line-height: 1;
  margin-bottom: 50px;
  text-align: center;
  letter-spacing: .05em;
}

#about .inner,
#skill .inner {
  max-width: 800px;
}

/*--------------------------------
ヘッダー
---------------------------------*/
#header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 86vh;
}

#header .logo {
  position: relative;
  margin-bottom: 30px;
  text-align: center;
}

#header .logo-title {
  font-family: 'Montserrat';
  font-size: 64px;
}

/*--------------------------------
 グローバルナビ
---------------------------------*/

#gnav {
  background-color: #fff;
  -webkit-box-shadow: 0 3px 3px -3px rgba(0, 0, 0, .2);
  -moz-box-shadow: 0 3px 3px -3px rgba(0, 0, 0, .2);
  box-shadow: 0 3px 3px -3px rgba(0, 0, 0, .2);
}

#gnav {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
}


#gnav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#gnav li {
  font-family: 'Montserrat';
  font-size: 16px;
  padding: 0 24px;
  letter-spacing: .05em;
}

#gnav li a {
  position: relative;
  display: inline-block;
  padding: 20px 0;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -ms-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  color: #333;
}

#gnav li a:hover {
  opacity: 1;
}

#gnav li a::after {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 3px;
  content: "";
  transition: .3s;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  background-color: #333;
}

#gnav li a:hover::after {
  width: 100%;
}

/*--------------------------------
 Card
---------------------------------*/
.card-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card-image img {
  width: 100%;
}

.card-caption {
  text-align: center;
}

.card-caption-title {
  font-size: 12px;
  font-weight: bold;
  margin-top: 8px;
}

.card-caption-info {
  font-size: 10px;
}

.card-caption-url {
  font-size: 10px;
}

/*--------------------------------
 WORKS
---------------------------------*/

#works .card {
  flex-basis: 31%;
  margin-bottom: 60px;
}

#works .card-wrapper::after {
  display: block;
  flex-basis: 31%;
  content: "";
}

#works .card:nth-child(3n+1):nth-last-child(-n+3),
#works .card:nth-child(3n+1):nth-last-child(-n+3)~div {
  margin-bottom: 0;
}

.modal{
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 20;
}
.modal__bg{
  background: rgba(0,0,0,0.8);
  position: absolute;
  width: 100vw;
  height: 100vh;
}
.modal__content{
  background: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 40px;
  transform: translate(-50%,-50%);
  width: 60%;
}

.modal__inner {
  display: -webkit-flex;
  display: flex;
}
.modal__main,
.modal__side {
  width: 100%;
  margin: 1rem;
}
.modal__side .pt {
  padding-top: 1rem;
}
.modal__side ul {
  padding-left: 2rem;
}
.modal__side li {
  list-style-type: disc;
}

/*--------------------------------
 ABOUT
---------------------------------*/

#about table {
  width: auto;
}

#about table td {
  min-width: 50px;
}

/*--------------------------------
 SKILL
---------------------------------*/

#skill p {
  margin-bottom: 1rem;
}


/*media Queries 767
----------------------------------------------------*/

@media screen and (max-width: 767px) {
  body {
    font-size: 13px;
    line-height: 1.7;
  }

  .hover-action {
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
    transition: none;
  }

  .hover-action:hover {
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
    transition: none;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
  }


  #wrapper {
    padding-top: 82px;
  }

  #header {
    height: 70vh;
  }

  #header .logo-title {
    font-size: 24px;
    letter-spacing: .1em;
  }

  #header .logo-desc {
    font-size: 14px;
  }

  #gnav {
    padding: 15px 0;
  }

  #gnav li {
    font-size: 13px;
    padding: 2px 15px;
  }

  #gnav li a {
    padding: 0;
  }

  #gnav li a:hover {
    opacity: 1;
  }

  #gnav li a::after {
    display: none;
  }

  .section {
    padding: 60px 0;
  }

  .section .inner {
    padding: 0 15px;
  }

  .section .section-title {
    font-size: 22px;
    margin-bottom: 20px;
  }

  .card-caption {
    text-align: left;
  }

  .card-caption-title {
    font-size: 10px;
  }

  #works .card:nth-child(2n+1):nth-last-child(-n+2),
  #works .card:nth-child(2n+1):nth-last-child(-n+2)~div {
    margin-bottom: 0;
  }

  #works .card {
    flex-basis: 48%;
    margin-bottom: 30px;
  }

  .modal__inner {
    display: block;
  }

  .modal__content{
    width: 90%;
  }

  .modal__main,
  .modal__side {
    margin: 0;
  }

  .modal__main {
    margin-bottom: 0.5rem;
  }
}